# Created by https://www.gitignore.io/api/prepros

### Prepros ###
# Config Prepros files to ignore
prepros.cfg
prepros-6.config

# End of https://www.gitignore.io/api/prepros

# Ignore JADE and SASS Folder
jade/**
sass/**
